.material-icons {
    vertical-align: text-bottom;
}

.tiny {
    font-size: 1rem;
}

.small {
    font-size: 2rem;
}

.medium {
    font-size: 3rem;
}

.large {
    font-size: 4rem;
}

.x-large {
    font-size: 6rem;
}
